@import "tailwindcss";

@font-face {
  font-family: 'BaseFont';
  /* src: url('/fonts/Ansungtangmyun-ESG.otf') format('opentype'); */
  /* src: url('/fonts/BinggraeMelona-Bold.otf') format('opentype'); */
  src: url('/fonts/CookieRun Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer base {
  html {
    font-size: 17px;
    font-family: 'BaseFont', sans-serif;
  }
}